body {
  display: grid;
  padding-top: 25vh;
  color: #3a0c85;
  margin: auto;
  font-family: papyrus;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  justify-items: center;
}

input {
  margin-top: 100px;
}




