

body {
  background-color: #FFD59A;

}


.color-block {
  display: inline-block;
  position: fixed;
  color: #ffffff;
  background-color: rgb(72, 214, 115);
  width: 90vw;
  height: 85vh;
  top: 7.5vh;
  left: 5vw;
}

.back-button {
  display: inline-block;
  position: fixed;
  width: 5vw;
  height: 5vh;
  top: 8.5vh;
  left: 6vw;
}

.back-button img {
  width: 100%
}

#home {
  position: fixed;
  width: 80vw;
  height: 75vh;
  top: 15vh;
  left: 10vw;
}

.home-heading {
  display: inline-block;
  position: fixed;
  width: 80vw;
  height: 20vh;
  top: 10vh;
  left: 10vw;
  text-align: center;
  font-size: 60px;
}

p.home-heading {
  top: 20vh;
  font-size: 40px;
}

.chair-button {
  position: fixed;
  width: 20vw;
  height: 20vh;
  top: 70vh;
  left: 12.5vw;
}

.chair-button img {
  height: 100%
}

.table-button {
  position: fixed;
  width: 20vw;
  height: 20vh;
  top: 70vh;
  left: 37.5vw;
}

.table-button img {
  height: 100%
}

.stool-button {
  position: fixed;
  width: 20vw;
  height: 20vh;
  top: 70vh;
  left: 62.5vw;
}

.stool-button img {
  height: 100%
}

.heading {
  display: inline-block;
  position: fixed;
  width: 20vw;
  height: 20vh;
  top: 9vh;
  left: 10vw;
}

.title {
  margin-left: 25px;
  font-family: monospace;
  color: #ffffff;
  text-align: center;
}

.display {
  display: inline-block;
  position: fixed;

  width: 45vw;
  height: 85vh;
  top: 7.5vh;
  left: 50vw;
}


.overlay img {
  width: 100%; 
  height: 100%;
  position: absolute; 
  top: 0; 
  right: 0;
  z-index: 5;
}

.underlay img {
  width: 100%; 
  height: 100%;
  position: absolute; 
  top: 0; 
  right: 0;
}

.leg-selector {
  display: inline-block;
  position: fixed;

  width: 60vh;
  height: 10vh;
  top: 55vh;
  left: 10vw;
}

.leg-selector img {
  width: auto; 
  height: 100%;
  position: absolute; 
  top: 0; 
  margin-right: '5px'
}

.wood-selector {
  display: inline-block;
  position: fixed;

  width: 60vh;
  height: 10vh;
  top: 70vh;
  left: 10vw;
}

.wood-selector img {
  width: auto; 
  height: 100%;
  position: absolute; 
  top: 0; 
  margin-right: '5px'
}







