

body {
  background-color: #FFD59A;

}


.color-block {
  display: inline-block;
  position: fixed;
  color: #ffffff;
  background-color: rgb(72, 214, 115);
  width: 90vw;
  height: 85vh;
  top: 7.5vh;
  left: 5vw;
}

.display {
  display: inline-block;
  position: fixed;

  width: 45vw;
  height: 85vh;
  top: 7.5vh;
  left: 50vw;
}

.overylay {
  display: inline-block;
  position: fixed;

  width: 20vw;
  height: 5vh;
  top: 80vh;
  left: 50vw;
}

.overlay img {
  width: auto; 
  height: 100%;
  position: absolute; 
  top: 0; 
  right: 0;
  z-index: 5;
  margin-right: 5px;
}

.underlay {
  .overylay {
    display: inline-block;
    position: fixed;
  
    width: 20vw;
    height: 5vh;
    top: 60vh;
    left: 50vw;
}

.underlay img {
  width: auto; 
  height: 100%;
  position: absolute; 
  top: 0; 
  right: 0;
  margin-right: 5px;
}

.heading {
  margin-left: 25px;
  font-family: monospace;
}







